<div class="preview-modale">
  {{yield}}
  {{#if isExport}}
    <div id="exportOutput" class="preview export">
      <div class="col-md-12 ">
        {{#if finalGif}}
          <img id="gifExport" src="{{finalGif}}" alt="">
          <div class="row">
             <a href="{{finalGif}}" download="mygif.gif" class="btn btn-success"><i class="ion-android-download"></i>Télécharger l'image</a>
         </div>
         {{else}}
         <div class='exporting'>
            <div class="row">
           <div class="ocrloader">
             <em></em>
             <div>
               <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
               <i></i><i></i><i></i><i></i><i></i><i></i><i></i>
               <i></i><i></i><i></i>
             </div>
             <span></span>
           </div>
           </div>
           <div class="row">
           <h4>Préparation du fichier en cours</h4>
            </div>
         </div>
        {{/if}}

      </div>
    </div>
  {{else}}
    <div class="preview">
      <div class="col-md-4">
        <div class="preview-control col-md-12">
          <div class="form-group">
             <button class="btn btn-primary" id=startAnimating {{action "startAnimate" on="click"}}><i class="ion-play"></i></button>
             <button class="btn btn-primary" id=stopAnimating {{action "stopAnimate" on="click"}}><i class="ion-stop"></i></button>
             <div class="form-group">
               <label for="looping">Lire en boucle</label>
               <input type="checkbox" name="looping" id="animationLoop" value="true" checked>
             </div>
          </div>
          <div class="form-group">
            <label for="fps">Vitesse</label> {{x-range-input min=0 max=1000 step=10 id="fps" class="fps-input" action=(action "updateFps")}}
          </div>

        </div>
        <div class="project-settings col-md-12">
          <h3>Paramètres du projet</h3>
          <div class="form-group">
            <label for="bgcolor">Couleur d'arrière plan</label>
            <p>
              {{input type="color" id='project-bgcolor' placeholder='' class="form-control" value=project.bgcolor}}
              {{project.bgcolor}}
            </p>
          </div>
          <div class="form-group">
            <label for="grid">Afficher la grille</label>
            <p>
              {{input id='project-grid' type="checkbox" name="grid" checked=project.grid}}
              <!-- {{input  placeholder='' class="form-control" value=newproject.grid}} -->
            </p>
          </div>
          {{#if project.grid}}
            <div class="form-group">
              <label for="gridcolor">Couleur de la grille</label>
              <p>
                {{input type="color" id='project-gridcolor' placeholder='' class="form-control" value=project.gridcolor}}
                {
              </p>
            </div>
          {{/if}}
        </div>
      </div>
      <div class="output-wrapper col-md-8">
        <canvas class="output" id="myCanvas" width="720" height="450">
Your browser does not support the HTML5 canvas tag.</canvas>
<div>
 <button type="button" name="button" {{action "export" on="click"}}>Exporter</button>
</div>
        <canvas class="output" id="myCanvasExport" width="1280" height="800" style="display:none;">
           Your browser does not support the HTML5 canvas tag.</canvas>
      </div>
    </div>
  {{/if}}



</div>
