<div class="color-palette">
   <span>Couleurs Utilisées</span>
   <ul class="palette">
      {{#each colors as |color index|}}
      <li class="color">

         {{input type="color"  placeholder='' class="input-color" value=color.code}}

         <input id={{concat 'color-' index}} type="text" readonly value={{color.code}} {{action 'copyToClipBoard' (concat '#color-' index) on="click"}} >
          <!-- <span {{action 'copyToClipBoard' (concat 'color-' index)}} >{{color.code}}</span> -->
      </li>
      {{/each}}
      <li>
      <button type="button" name="button" {{action 'addColor'}} class=""> + </button>
      </li>
   </ul>
</div>
