

<div class="dataimg-editor">
      {{selectedImage}}
      <textarea id="textImage" {{action 'updateImageData' onchange }} rows="8" cols="80"  data-parent="0" class="form-control code-editor"  />
</div>
