
<div class="container-fluid app-header">
   <div class="row">
      <div class="col-md-2">
         <button type="button" class="btn btn-primary" {{action 'addImage' project.id}}> <i class="ion-plus-round"></i>
         </button>
         <button type="button" class="btn btn-primary" {{action 'togglePalette'}}> <i class="ion-paintbrush"></i></button>
         <button type="button" class="btn btn-primary" {{action 'toggleBlackMode'}}> <i class="ion-ios-moon-outline"></i></button>
      </div>
      <div class="col-md-2">
         <div class="pixel-infos">
         <h5>Informations :</h5><span class="label">Pixel</span> <span class="data">{{currentPixel}}</span>
         </div>
      </div>
      <div class="col-md-5">
         <h5>{{project.title}}</h5>
      </div>
      <div class="col-md-3">
         <button type="button" class="btn btn-default pull-right" {{action "toggleMenuHandler"}}>
           <i class="ion-navicon-round"></i>
         </button>
         <button type="button" class="btn btn-primary  pull-right" {{action 'seePreview' project.id}}> <i class="ion-play"></i></button>
         <button type="button" class="btn btn-default pull-right {{if unSave 'unsave'}}" {{action "save" imagesList}}>
           save
         </button>
      </div>
   </div>
</div>
{{#if isPalette}}
   {{color-palette colors=projectColors}}
{{/if}}


<div class="container-fluid visual-editor">
   <div class="holder default">
   <div class="keyframes {{if isBlackMode "blackmode"}}">
      {{#if isFullscreen}}
      {{#if (compare currentScreen '>=' 1)}}
         <button class="image-move image-prev" {{action "prevImage"}}><i class="ion-arrow-left-b"></i></button>
      {{/if}}
      {{/if}}
      {{#each imagesList as |image index|}}


         <div id="editor-{{image.id}}">
            <div class="image-editor {{if image.pin 'active'}} {{if image.fullscreen 'fullscreen'}}">

               <div class="image-editor-header">
                  <div class="col-md-6">
                     <h4>Image {{operator 1 '+' index}}</h4>
                  </div>
                  <div class="col-md-6">
                     <div class="image-actions">
                        <!-- <button type="button" name="button" class="btn btn-default" {{action 'showConsole' image}}>{}</button> -->
                        <button class="delete btn btn-default" {{action "askDeleteImage" image}}><i class="ion-trash-b"></i></button>
                        <button class="pin btn btn-default {{if image.pin 'active'}}" {{action "addPin" image}}><i class="ion-pin"></i></button>
                        <button class="fullscreen btn btn-default" {{action "addFullscreen" image}}><i class="ion-easel"></i></button>
                     </div>
                  </div>
               </div>
               <div class="image-editor-content">
                  {{#image-editor image=image width=project.width color=project.color height=project.height selectedImage=selectedImage sendLoadedImage="sendLoadedImage" setCurrentPixel="setCurrentPixel" unSave=unSave}}
                     <div class="image-editor-data">
                           {{#if image.fullscreen}}
                           {{#if image.isError}}
                              <div class=" error-console danger" role="alert">
                                 {{image.errorMessage}}
                              </div>
                              {{else}}
                              <div class=" error-console success" role="alert">
                                 <i class="ion-android-happy"></i> Good Job !
                              </div>
                              {{/if}}
                                 {{ember-ace
                                    id=(concat 'edtorace-' image.id)
                                    lines=20
                                    maxLines=20
                                    useWrapMode=true
                                    mode="ace/mode/json"
                                    value=image.imageFile
                                    update=(action "valueUpdated" image.id)
                                 }}
                                 <form  {{action "findAndReplace" image on="submit" }}>
                                    <div class="form-group">
                                       {{input value=find  type="text" class="form-control" placeholder="Rechercher..."}}
                                    </div>
                                    <div class="form-group">
                                       {{input value=replace  type="text" class="form-control" placeholder="Remplacer par..."}}
                                    </div>
                                      <input type="submit" class="btn btn-default" value="remplacer">
                                 </form>
                           {{/if}}
                     </div>
                  {{/image-editor}}
               </div>
            </div>
            {{#if image.confirm}}
            <div class="delete-alert {{if image.confirm 'confirm'}}">
               <button class="btn btn-default" {{action "deleteImage" image}}>Supprimer</button>
               <button class="btn  btn-danger" {{action "keepImage" image}}>annuler</button>
            </div>
            {{/if}}
      </div>

      {{/each}}
      {{#if isFullscreen}}
         {{#if (compare  (operator 1 '+'currentScreen) '<'  projectLength)}}
            <button class="image-move image-next" {{action "nextImage"}}><i class="ion-arrow-right-b"></i></button>
         {{/if}}
      {{/if}}
   </div>
   </div>
</div>
{{#if isFullscreen}}
   <button class="close-fullscreen" {{action 'closeFullScreen'}}><i class="ion-drag"></i><i class="ion-arrow-up-b"></i><i class="ion-navicon"></i></button>
{{/if}}

<div class="data-editor {{if isFullscreen 'hide'}}">
   <div class="handle-wrapper">
      {{#unless isFullscreen}}
      <div id="slider" class="slider">
         <div id="beforeshuttle"></div>
         <div id="shuttle" draggable=true  class="shuttle" {{action "shuttle" on="mouseDown"}}></div>
      </div>
      {{/unless}}
      <div class="resizer" id="handle" draggable=true  {{action "initlizeResize" on="mouseDown" }}>
         <i class="ion-navicon"></i><i class="ion-navicon"></i>
      </div>
   </div>

   <div class="data-editor-content">
      <div class="data-editor-files">
      {{#x-tab activeId=activeId  tab-style="tabs-style-topline" as |tab| }}
        {{!-- tab navigation --}}
        {{#x-tab/navigation}}

          {{#x-tab/nav-wrap paneId="home" tab=tab}}
            <i class="icon ion-code"></i>
            <span>functions</span>
          {{/x-tab/nav-wrap}}



          {{#each imagesList as |pined|}}
            {{#if pined.pin}}
            {{#x-tab/nav-wrap paneId=(concat 'pannel-' pined.id) tab=tab  }}
            <i class="icon ion-image"></i>
            <span>Image {{pined.position}}</span>
            {{/x-tab/nav-wrap}}
            {{/if}}
          {{/each}}

          {{#x-tab/nav-wrap paneId="draft" tab=tab}}
           <i class="icon ion-clipboard"></i>
           <span>Draft</span>
          {{/x-tab/nav-wrap}}

        {{/x-tab/navigation}}



        {{!-- tab content --}}
        <div class="content-wrap">
           {{#tab.pane elementId="home"}}
              <div class="container-home">
            {{#functions-editor functions=project.functions width=width height=height scriptUpdate="scriptUpdate" compileErrors=compileErrors}}
             {{ember-ace
                lines=maxLines
                useWrapMode=true
                mode="ace/mode/javascript"
                theme="ace/theme/ambiance"
                showPrintMargin=false
                value= project.functions
                update=(action "functionUpdated")
              }}
              {{/functions-editor}}
           </div>
           {{/tab.pane}}

           {{#each imagesList as |pined|}}
               {{#if pined.pin}}
               {{#tab.pane elementId=(concat 'pannel-' pined.id) }}
                  <div class="row">
                     {{ember-ace
                       lines=maxLines
                       theme="ace/theme/github"
                       useWrapMode=true
                       mode="ace/mode/json"
                       value=pined.imageFile
                       update=(action "valueUpdated" pined.id)
                     }}
                  </div>
               {{/tab.pane}}
               {{/if}}
           {{/each}}
           {{#tab.pane elementId="draft"}}
             {{ember-ace
                lines=maxLines
                useWrapMode=true
                theme="ace/theme/ambiance"
                value= project.draft
                update=(action "draftUpdate")
              }}
           {{/tab.pane}}
        </div>
      {{/x-tab}}
   </div>
</div></div>
{{#if isPreview}}
<button class="btn btn-default close-modale" name="button" {{action "closePreview" on="click"}}>Close</button>

{{#canvas-viewer data=imagesList project=project saveExport='saveExport' }}
{{/canvas-viewer}}
{{/if}}
{{#if isLoading}}
   <div class="app-loading">
      <h3>loading</h3>
   </div>
{{/if}}
