<footer class="footer">
   <div class="row">
      <div class="container">
         <div class="col-md-12 center">
            <img src="../images/pierrehardel.svg" alt="">
            <p>
               <b>Pierre Hardel</b> - 2017 -
               <br/>
               <span>=•=</span>
            </p>
         </div>
      </div>
   </div>

</footer>
