
   <div class="col-md-8 functions-ace">
      <div class="functions-content">
         {{yield}}

      </div>
   </div>
   <div class="col-md-4 functions-actions">
      <div class="row">
         <button class="btn btn-primary btn-event-function" {{action "runScript" functions}} data-loading="false">execute</button>
      </div>
      <div class="row">
         <div class="errorconsole-header">
            Console
            {{#if (compare errorsSize '>' '0' )}}
            <span>{{errorsSize}} erreurs</span>
            {{/if}}
         </div>
         <div class="errorconsole">
            <div class="errorconsole-content">
               {{#each compileErrors as |msg|}}
                  <p class="pre">
                  <span>{{index}}</span>image {{msg.imageId}}<br>
                  <b>{{msg.object}}</b><br>
                  <i>{{msg.detail}}</i>
               </p>
               {{/each}}

               {{#each errors as |msg|}}
                  <p class="pre">
                  <span>{{index}}</span> - "${{msg.objectName}}" - image {{msg.imageId}}<br>
                  <b>{{msg.object}}</b><br>
                  <i>{{msg.detail}}</i>
               </p>
               {{/each}}
            </div>
         </div>
      </div>
   </div>
