    {{#if session.isAuthenticated}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}SMART HACKING{{/link-to}}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
         <ul class="nav navbar-nav">
               <li>
                  {{#link-to 'project.new' class="btn-light"}}Nouveau projet{{/link-to}}
               </li>
               <li>
                  {{#link-to 'project.all'}}Mes projets{{/link-to}}
               </li>
               <li>
                  <a href="http://www.twiddl.fr/documentation.html" target="_blank">Documentation</a>
               </li>
               <li class="dropdown {{if dropdownOpen 'open'}}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" {{action "toggleDropdown" on="click"}}>{{sessionAccount.account.name}}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li><a {{action 'invalidateSession'}}>Logout</a></li>

                  </ul>
               </li>
         </ul>
      </ul>
   </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{else}}

<div class="header">
   <h5>SMART HACKING</h5>
</div>

{{/if}}
