   <ul class="grid" id="grid{{image.image}}">
      {{#each rows as |row index|}}
         <li class="row" data-row={{operator index "+" "1"}}>
            <ul>
               {{#each row as |pixel index|}}
               <li class="pixel" id={{pixel.id}} data-col={{operator index "+" "1"}} style={{safe-color pixel.color}} onclick={{action 'pixelUp' pixel}} onmouseover={{action 'pixelInfo' pixel}}></li>
               {{/each}}
            </ul>
         </li>
      {{/each}}
   </ul>
   {{yield}}
