<form {{action "authenticate" on="submit"}}>
 <label for="identification">Email< /label>
  {{input value=identification placeholder="Enter Login" class="form-control"}}
  <label for="password">Password< /label>
  {{input value=password type="password" placeholder="Enter Password"}}
  <button type="submit">Login< /button>
</form>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
