<p class="ticket">

</p>
<form id="login" {{action 'sendToAuthenticate' on='submit'}}>


  {{#if step1}}
    <div class="bash">
      <p>
         * POUR CRÉER UN COMPTE, TAPER "newUser" & APPUYER SUR ENTRER<br/>
         * POUR SE CONNECTER TAPER VOTRE <b>EMAIL</b> & APPUYER SUR ENTRER
      </p>
      <label for="identification">Login</label> {{input id='identification'  autocomplete="off" value=identification enter="bashOne" onsubmit="return false;" autofocus="autofocus"}}
    </div>
  {{/if}}
  {{#if step2}}
    <div class="bash">
      <p>
        * TAPER VOTRE MOT DE PASSE & APPUYER SUR ENTRER
      </p>
      {{input id='password' placeholder='Enter Password' name="password" type='password' value=password autocomplete="off" enter="bashFive"}}<br>
    </div>
  {{/if}}
</form>

{{#if inscription}}
<p class="ticket2">

</p>
<form id="register" {{action 'sendToRegister' on='submit'}}>
{{#if welcome}}
  <p><b>='•'=</b></p>
  <p><b>Bienvenue !</b></p>
<p>Nous allons créer ensemble votre compte</p>
 {{/if}}
{{#if inscription1}}
    <div class="bash">
  <p>
    * TAPER VOTRE NOM & APPUYER SUR ENTRER
  </p>
  {{input id='newIdentification'  autocomplete="off" enter="bashTwo" value=model.name}}
  </div>
{{/if}}
{{#if inscription2}}
    <div class="bash">
  <p>
    * TAPER VOTRE EMAIL & APPUYER SUR ENTRER
  </p>
  {{input id='newMail' type="email"  autocomplete="off" enter="bashTree" value=model.email}}
  </div>
{{/if}}
{{#if inscription3}}
    <div class="bash">
  <p>
    * CHOISIR VOTRE MOT DE PASSE & APPUYER SUR ENTRER
  </p>
  {{input id='newPassword' type="password" name="password" autocomplete="off" enter="bashFour" value=model.password}}
  </div>
{{/if}}
{{#if inscription4}}
    <div class="bash">
  <p>
    * RETAPER VOTRE MOT DE PASSE & APPUYER SUR ENTRER
  </p>
  {{input id='password' type="password" name="password" autocomplete="off" enter="bashSix"  value=model.password_confirm}}
  </div>

{{/if}}
</form>
{{/if}}
{{#if connexion}}
connexion
{{/if}}
