
   <div class="col-md-4 project-card-container">
      <div class="card">
         {{#link-to "project.edit" project.id class="project-card"}}
            <div class="project-card-preview">
               <div class="thumb-wrapper">
                  {{#if (compare project.export "!=" "" )}}
                  <img src="{{gif-url project.export}}" alt="{{project.title}}">
                  {{/if}}
               </div>
            </div>
         {{/link-to}}
      <div class="project-bottom" >
         {{#link-to "project.edit" project.id class="project-card"}}
         <div class="col-md-7 project-card-detail">
            <h4>{{project.title}}</h4>
         </div>
         {{/link-to}}
         <div class="col-md-5 project-card-action">
            <button type="submit" class="btn btn-default" {{action 'deleteProject' project.id}}><i class='ion-trash-b'></i></button>
         </div>
      </div>

   </div>
   </div>
