.intro-content{
   position: relative;
   margin: 5vh auto 0;
   align-items: center;
   width: 600px;
   height:80vh;
   text-align: center;
   img{
      width: 60%;
   }
   h2{
      margin-top: 0px;
      color:$brand-primary;
      font-weight:bolder;
   }
}

.indication-connexion{
   zoom:0.7;
   p{
      color:$gray-light;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom:0;
      text-transform: uppercase;
      font-size: 11px;
      .key{
         display: inline-block;
         padding:10px 17px;
         font-size: 24px;
         font-weight: bold;
         border-radius: 10px;
         border:1px solid $gray-light;
         margin-bottom: 12px;
      }
   }
}
