.navbar {
  padding: 15px 0;
}

a.navbar-brand {
  font-weight: bolder;
  color: #111;
}

article.list-group {
  margin: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

body > .ember-view {
  width: 100%;
  height: 100%;
}
// only the app template should get the height,
// other ember views should not

body > .ember-view ~ .ember-view {
  height: auto;
  width: auto;
}
/* Wrapper for page content to push down footer */
.wrap {
  // min-height: 100%;
  width: 100%;
  min-height: 100%;
  background:#F4F4F4;
  /* Negative indent footer by its height */
  // margin: 0 auto -50px;
  /* Pad bottom by footer height */
}
.main {
  overflow:auto;
  padding-bottom:250px; /* this needs to be bigger than footer height*/
}

.app-content {
   display: block;
   // height:100%;
   // width: 100%;

  margin: 0;
  padding: 0;
  min-height:100%;

}
/* Set the fixed height of the footer here */
.footer {
   margin: 0px;padding: 0px;
   position: relative;
   margin-top: -150px; /* negative value of footer height */
   height: 150px;
   background: $gray;
   clear:both;
   padding-top:20px;
   text-align: center;
  p {
    font-size: 0.8em;
  }
  p.little{
     font-size:0.6em;
     font-weight: bold;
 }
 img{display: inline-block;height:55px;}
}

.wrap-app {
  height: 100%;
  overflow: hidden;
}

.visual-editor {
  height: 65vh;
}
.header{
   display: inline-block;
   width:100%;
   text-align: center;
}

.navbar.navbar-default {

   // background-color: #98ffd4;
   // background-image: linear-gradient(22deg, #98ffd4 0%, #5ec4ff 100%);
   background-color: #555ed8;
   background-image: linear-gradient(76deg, #555ed8 0%, #d065e4 42%, #fba8a9 83%);
  box-shadow: inset -0px -5px 15px 0 rgba(0,0,0,0.2);
  border-bottom: 1px solid $gray-lighter;
}
