

$brand-primary:         #555ed8;
$brand-accent-g:        #49C2FF;
$brand-accent-p:        #fba8a9;
$brand-danger :         #d3004d;

$body-bg:               #FFF !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$headings-color: #4e4b5c;

// =' NavBar '=
$navbar-height:                    40px !default;
$navbar-default-bg:                 #FFFFFF !default;

$navbar-margin-bottom:             0px;


$navbar-default-link-color:                #FFFFFF !default;
$navbar-default-link-hover-color:          $brand-primary !default;
$navbar-default-link-hover-bg:             rgba(255,255,255,0.1) !default;
$navbar-default-link-active-color:         #2AF598 !default;
$navbar-default-link-active-bg:           rgba(255,255,255,0.6) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// =' Pills '=

$nav-pills-border-radius:                  25px !default;


// =' Progress Bar '=

$progress-bg:                 #CCC !default;

:root{
   --x-tab-primary : #EEE;
}
