<div class="wrap">
  {{header-comp session=session sessionAccount=sessionAccount}}
  <div class="container main">
    <div class="row">
      <div class="col-md-12">
         <h2>Mes projets</h2>
      </div>
      {{#each projects as |project|}}
        {{project-card project=project}}
      {{/each}}
    </div>
  </div>
  {{footer-comp}}
</div>
