<div class="wrap-app">
  {{#if isNavVisible}}
    {{header-comp session=session sessionAccount=sessionAccount}}
  {{/if}}
  <div class="container-fluid app-content">
    {{outlet}} {{editor-app project=project  width=project.width toggleMenu="toggleMenu" setExport="setExport" }}
  </div>
</div>
