<div class="wrap">
   {{header-comp session=session sessionAccount=sessionAccount}}
<div class="container-fluid app-content">
  <div class="container">

   <h2>Nouveau projet</h2>
   <form {{action 'save' on='submit' value=model}}>
      <div class="col-md-12">
        <div class="form-group">
          <label for="users-min">Titre</label>
          <p>
            {{input id='project-title' placeholder='' class="form-control" value=newproject.title}}
          </p>
        </div>
        <h3>Paramètres du projet</h3>
        <div class="col-md-5">
        <div class="form-group">
          <label for="width">Taille</label>
          <p>
            {{input id='project-size' placeholder='' class="form-control" value=newproject.width}}
          </p>
        </div>
        <div class="form-group">
          <label for="bgcolor">Couleur d'arrière plan</label>
          <p>
            {{input id='project-bgcolor' placeholder='' class="form-control" value=newproject.bgcolor}}
          </p>
        </div>
        <div class="form-group">
          <label for="color">Couleur pixel par defaut</label>
          <p>
            {{input id='project-color' placeholder='' class="form-control" value=newproject.color}}
          </p>
        </div>
        <div class="form-group">
          <label for="grid">Afficher la grille</label>
          <p>
             {{input id='project-grid' type="checkbox" name="grid" checked=newproject.grid}}
            <!-- {{input  placeholder='' class="form-control" value=newproject.grid}} -->
          </p>
        </div>
        {{#if newproject.grid}}
        <div class="form-group">
          <label for="gridcolor">Couleur de la grille</label>
          <p>
            {{input id='project-gridcolor' placeholder='' class="form-control" value=newproject.gridcolor}}
          </p>
        </div>
        {{/if}}
        </div>
        <div class="col-md-7">

        </div>
          <div class="form-group">
            <button {{action 'cancel'}} class="btn btn-default">Annuler</button>
            <button type="submit" class="btn btn-primary">Créer</button>
          </div>
      </div>
   </form>
  </div>
</div>
</div>
