

.preview-modale {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  overflow: hidden;
  display: flex;
  align-items: center;
  .preview {
    border:1Px solid $gray-lighter;
    background: #FFF;
    min-width: 70%;
    max-width: 90%;
    min-height:50%;
    padding: 30px;
   margin :0 auto;
   .row{
      display:inline-block;
      width:100%;
      text-align:center;
      padding:30px 15px;
   }
  }
}

.close-modale{
   position:absolute;
   top:10px;
   right:30px;
   z-index: 9999;
}

#myCanvas{
   border:1Px solid $gray-light;
   width:100%;
}
.fps-input{
   transform: rotate(180deg);
   transform-origin: center center;
}
#gifExport{
   display: block;
   max-width:70%;
   margin:0 auto;
   // height:200px;
   // height: auto;display: block;
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: $gray-lighter;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 7px;
  background: $brand-accent-g;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $gray-lighter;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: $gray-lighter;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 7px;
  background: $brand-accent-g;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 18px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $gray-lighter;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: $gray-lighter;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 8px;
  border-radius: 7px;
  background: $brand-accent-g;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $gray-lighter;
}
input[type=range]:focus::-ms-fill-upper {
  background: $gray-lighter;
}


.exporting {
   // display: flex;
   width:100%;
   min-height:100px;
   margin:0 auto;
   text-align: center;
   .row{
      position: relative;
      height:150px;
      width: 100%;
   }
   h4{
      display: inline-block;
      text-align: center;
      width: 100%;
      color:$brand-primary;
   }
      .ocrloader {
        width: 94px;
        height: 77px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        backface-visibility: hidden;
        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 20px;
          background-color: $brand-primary;
          opacity: 0.6;
          z-index: 1;
          transform: translateY(135%);
          animation: move 0.7s cubic-bezier(0.15, 0.44, 0.76, 0.64);
          animation-iteration-count: infinite;
        }
        > div {
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 48%;
          backface-visibility: hidden;
        }
        i {
          display: block;
          height: 1px;
          background: #000;
          margin: 0 auto 2px;
          margin: 0 auto 2.2px;
          backface-visibility: hidden;
          &:nth-child(2) { width: 75%; }
          &:nth-child(3) { width: 81%; }
          &:nth-child(4) { width: 87%; }
          &:nth-child(6) { width: 71%; }
          &:nth-child(7) { width: 81%; }
          &:nth-child(8) { width: 65%; }
          &:nth-child(9) { width: 83%; }
          &:nth-child(10) { width: 75%; }
          &:nth-child(12) { width: 86%; }
          &:nth-child(14) { width: 65%; }
          &:nth-child(16) { width: 75%; }
          &:nth-child(18) { width: 83%; }
        }
        &:before,  &:after, em:after, em:before {
          border-color: #000;
          content: "";
          position: absolute;
          width: 19px;
          height: 16px;
          border-style: solid;
          border-width: 0px;
        }
        &:before {
          left: 0;
          top: 0;
          border-left-width: 1px;
          border-top-width: 1px;
        }
        &:after {
          right: 0;
          top: 0;
          border-right-width: 1px;
          border-top-width: 1px;
        }
        em:before {
          left: 0;
          bottom: 0;
          border-left-width: 1px;
          border-bottom-width: 1px;
        }
        em:after {
          right: 0;
          bottom: 0;
          border-right-width: 1px;
          border-bottom-width: 1px;
        }
      }



}

@keyframes move {
  0%, 100% { transform: translateY(135%); }
  50% { transform: translateY(0%); }
  75% { transform: translateY(272%); }
}
