.color-palette{
   overflow-y: hidden;
   background-color: #d0d0d0;
   background-image: linear-gradient(180deg, #d0d0d0 2%, #e7e7e7 50%, #d0d0d0 99%);


   border-bottom: 1px solid #B1B0B0;
   z-index: 9999;
   display:block;
   width: 100%;
   padding:7px 15px;
   span{
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: 8px;
      color:$gray-lighter;
   }
   .palette{
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0px;
      padding:0px;
      li{
         display: inline-flex;

      align-items: center;
         .input-color{
            background: none;
            border:none;
            outline: none;
            border-radius: 150px;
            width:30px;
            height:30px;
         }
         span{
            padding:0px 10px;
         }
         input{
            background: none;
            color:#B1B0B0;
            border:none;
            border-bottom: 1px solid #B1B0B0;
            width:70px;
            cursor: pointer;
         }
         button{
            margin:0px;
            padding:0px 14px;
            font-size: 32px;
            font-weight:900;
            background: none;
            border:none;
            outline:none;
            font-weight: bold;
            color:$brand-accent-g;

         }
      }
   }
}
