.console-app{
   background: #222;
   width: 100%;
   height:100%;
   text-align: center;
   display: flex;
   align-items: flex-start;
   .console{
      display: flex;
      align-items: flex-end;
      margin:0 auto;
      width:800px;
      height:50%;

      color:#00CCFF;
      font-family: monospace;
      text-align: left;
      input{
         background: none;
         border:none;
         width: 100%;
         color:#00CCFF;
         outline:none;
         &::placeholder{
            color:#222;
         }
      }



      input:focus{
         border:none;
      }
      label{
         display:none;
      }
      .error{
         color:$brand-danger;
      }
   }
}
.ticket{
   opacity: 0.2;
   transition: all .1s ease;
}
.ticket:hover{
   opacity: 1;

}
