

.app-header {
  padding: 4px 16px;
  border-bottom: 1px solid $gray-lighter;
   background: #FAFAFA;
  h5 {
    color: lighten($gray-light, 35%);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .btn {
    background: none;
    color: $brand-primary;
    border: none;
    outline: none;

    i {
      font-size: 20px;
    }
  }

  .btn:hover {
    color: $brand-info;
    background: #FFF;
  }
}

.app-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #FFF;
  display: flex;
  align-items: center;
  z-index: 222;

  h3 {
     font-size: 25px;
    width: 100%;
    text-align: center;
   background-image: linear-gradient(76deg, #555ed8 0%, #d065e4 42%, #fba8a9 83%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  // text-fill-color: transparent;
  }
}

.btn.btn-default.unsave {
  color: #FFF;
  background: $brand-danger;
}


.handle-wrapper{
   background: #FAFAFA;
   opacity: 0.9;
   &:hover{
      opacity: 1;
   }
   }

.slider {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  overflow: hidden;
border-top: 1px solid lighten($gray-light, 40%);
  .shuttle {
    margin: 0;
    background: lighten($gray-light, 20%);
    min-width: 30px;
   padding: 5px 0px;
   // margin-top:2px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: $brand-primary;
    }
  }
}
.resizer {
  margin:0px;
  padding: 0;
  text-align: center;
  color: #000;
  width: 100%;
  background: lighten($gray-light, 20%);
  cursor: row-resize;
  border-top: 1px solid $gray;
   border-bottom: 1px solid $gray;
  line-height: 12px;
  &:hover{
   border-color: $gray-dark;
   background:lighten($brand-primary, 16%);
 }
  i{

     transition: all 0.5 ease;
 }
  &.active {
    background:$brand-primary;
    border-top:2px solid $gray;
    border-bottom:2px solid $gray;
    i{

   }
  }
}
.delete-alert{
   display: block;
   width: 100%;
   overflow: hidden;
   height:0px;
   text-align: center;
   padding:15px 0px;

}
.delete-alert.confirm{
   height:50px;
   transition: height 2s;
   -webkit-transition: height 2s;
}
.pixel-infos{
      color:$gray-light;
      text-align: left;
      h5{text-align: left;margin:0px;margin-top: 5px;padding: 0px;font-size: 8px;color:$brand-primary;}
      span.label{margin-left: 0px; padding-left:0px;color:$gray-light; }
      span.data{font-weight: bold;color:$gray;}
}
