.ev-header{
   min-height:250px;
   background: #CCC;
   display: flex;
   align-items: flex-end;
   color: #FFF;
   .ev-title{
      margin-bottom:25px;
      h1{
         span{
            padding: 0 15px;
            font-weight: normal;
            letter-spacing: 1.5px;
            font-size: 14px;
         }
      }
      p{
      padding:0px;
      margin:0px;
      font-size: 0.8em;
      }
   }

}
.ev-social-wrapper{
   background: #FFFFFF;
   .ev-social{
      span{
         display: block;
         color:$gray-lighter;
         padding:25px 0;
      }
   }
}

.event-subscribe{
   background:#FFF;
   border:1px solid $gray-lighter;
   width:100%;
   margin-top:-100px;
   .btn{
      width:100%;
      padding:25px;
      margin-bottom: 15px;
   }
   div{
      padding:25px;
   }
   .unlogged{
      span{
         display: inline-block;
         padding:15px;
         width:100%;
         text-align: center;
      }
   }
}
.ev-participants{
   ul{
      list-style: none;
      margin:0;
      padding: 0;
      li{

      }
   }
}
.map-container{
   height:400px;

   .map{


      width:100%;
      height:100%;
   }
}
.map-hidden{
   background: $gray-lighter;
   color:$gray;
   height:400px;
   display: flex;
   align-items: center;
   text-align: center;
   span{
      width:100%;
   }
}
.btn-event-complete{
   display: inline-block;
   padding: 25px;
   width: 100%;
   text-align: center;
   font-weight: bold;
   font-size: 1.2em;
   background-color: $gray-lighter;
   color:$gray;
}
