.event-card{
   background: white;
   border:1px solid $gray-lighter;
   padding:15px;
   color:$text-color;
   text-decoration: none;
   display:inline-block;
   width:90%;
   transition: border-color 0.4s ease;
   margin:0px;
   &:hover{
      color:$text-color;
      text-decoration: none;
      border-color:lighten($gray-base, 75%);
      background: lighten($gray-base, 98%);
   }
   &:visited{
      color:$text-color;
      text-decoration: none;
   }
   &:active{
      color:$text-color;
      text-decoration: none;
      box-shadow:none;
      border-left:lighten($gray-base,65%);
            border-right:lighten($gray-base,65%);
   }
   &:focus{
      color:$text-color;
      text-decoration: none;
   }
   h3{
      text-transform: capitalize;
   }

   .event-card-detail{
      padding:7px 0;
      p{
         font-size:0.85em;

      }
   }

   .event-card-bottom{
      i{ padding:7px; }
      span{
         text-transform: uppercase;
      }
      strong{
         margin-left: 5px;
      }
   }
}
