$width: 450px;
$width-active: 450px;
$width-fullscreen: 90vw;
$width-little: 225px;

.image-editor {
  display: inline-block;
  border: 1px solid #EAEAEA;
  background: #FFF;
  margin: 15px;
  min-width: 150px;
  width: $width;
  padding-top: $width/1.6px;
  border-radius: 5px;
  box-shadow: 0 10px 6px -6px #CCC;
  animation:scale .5s ease-out alternate;
  h4 {
    color: darken($gray-light, 5%);
    font-weight:400;
   //  letter-spacing: 1px;
    font-size: 18px;

  }
  .image-editor-header{display: inline-block;width:100%;margin:0;padding:3px 0;}
  .image-editor-content{padding:30px 15px 30px 30px;margin-left:0px;margin-top:0px;border-top:1px solid #F9F9F9;}

  .grid {
    list-style: none;
   padding:0;
   margin:0;
   cursor: crosshair;
    .row {
      display: flex;
      flex-direction: column wrap;
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;

      ul {
        display: inline-flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: top;
        box-sizing: border-box;
        border-left: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;

        &:first-child {
          border-top: 1px solid $gray-lighter;
        }

        li.pixel {
          // display: table-cell;
          flex-grow: 1;
          box-sizing: border-box;
          border-right: 1px solid $gray-lighter;
          width: auto;
          height: auto;
          margin: 0;
          padding: 0;
        }

        li.pixel:hover {
          box-shadow: inset 30px 30px 1px rgba(120,50,50,0.4);
        }

        li.pixel:after {
          content: '';
          float: left;
          padding-top: 100%;
          margin: 0;
        }

        li.pixel:hover:after {}
      }
    }
  }
}

.image-editor {
  .grid {
    .row {
      position: relative;
    }
    .row:before {
      // position: absolute;
      content: attr(data-row);
      font-size: 7px;
      text-align: right;
      width: 20px;
      padding-right: 5px;
      margin-left: -25px;
      color: $gray;
    }

    .row.row-active:before {
      font-size: 8px;
      font-weight: bold;
      color: $brand-accent-p;
    }

    .row:first-child {
      ul li.pixel:before {
        position: absolute;
        top: -100%;
        text-align: center;
        content: attr(data-col);
        display: block;
        font-size: 7px;
        color: $gray;
      }

      ul li.pixel.col-active:before {
        font-size: 8px;
        font-weight: bold;
        color: $brand-accent-p;
      }
    }
  }
}

.keyframes.little {
  position: relative;

  .image-editor {
    display: inline-block;
    border: 1px solid $gray-lighter;
    background: #FFF;
    margin: 15px 15px 15px 50px;
    min-width: 175px;
    width: $width-little;
    padding-top: $width-little/1.6px;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #CCC;
    .image-editor-header{
      margin-bottom: 0px;
   }
  .image-editor-content{
     margin:0px;
     padding:0px;
 }
    h4 {
      font-size: 14px;
      margin:0px;
      padding:7px;
      font-weight: 300;
    }

    .grid {
      padding: 0;
    }

    .image-actions {
      position: absolute;
      width: 30px;
      left:100%;
      margin:0px;
      display: inline-block;
      opacity: 0.7;

      .btn.btn-default {
        i {
          color: $gray-dark;
          padding: 0;
          margin: 0;
          text-align: center;
          min-width: 14px;
          line-height: 15px;
          font-size: 19px;
        }

        &:hover i {
          color: $brand-accent-g;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    .row:before {
      display: none;
    }

    .row:first-child {
      ul li.pixel:before {
        display: none;
      }
    }
  }
}

.image-editor.active {
  width: $width-active;
}

.pin.active i{
   color:$brand-accent-g;
}



.image-editor.fullscreen {
  width: $width-fullscreen;
  height: 80%;

  .image-editor-content{
     display: inline-block;
     width: 100%;
     margin:0px;
     padding: 5px 25px;
     vertical-align: top;
  }

  .grid {

   display: inline-block;
    width: 59%;

    margin-top:35px;
  }
   .image-editor-header{padding-bottom: 0px;}
  .image-editor-data {
       float:right;
      display: inline-block;
       width: 40%;
       padding: 0;

      .form-group{
         margin:0px;
      }
  }
}

pre.console-image-editor {
  position: relative;
  display: block;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  height: 70px;
  overflow-x: scroll;
  text-align: left;
}

.image-actions {
  float: right;
  padding-right: 15px;

  .btn.btn-default {
     outline: none;
    border: none;
    background: none;
    padding: 4px 8px;
    margin: 0;

    i {
      display: block;
      min-width: 18px;
      color: lighten($gray-light, 15%);
      font-size: 18px;
    }

    &:hover {
      background: none;

      i {
        color: $brand-primary;
      }
    }
  }
}
.error-console{
   margin:0;
   width: auto;
   padding:7px 14px;
   display: inline-block;
}
.error-console.danger{
   color:$brand-danger;
}
.error-console.success{
   color:darken($brand-accent-g, 15%);
}



@keyframes scale {
   from { transform: scale(.9);
      transform-origin: center center;
      }
   to { transform: scale(1); }
}
