.myevent-header.dark{
   background: #444;
   color:$gray-light;
   ul{
      margin:7px 0px;
      li.title{
         display: inline-block;

         padding:10px 15px;
         line-height: 20px;

      }
      li.active a{
         background: #222;
      }
   }
}
