.place-autocomplete--input{
   margin: 0px;
   width:100%;
   border:none;
   outline: none;
   &:focus{
      outline: none;
   }
}
.newevent-location-infos{
   display:none;
   height:0px;
   opacity: 0;
   width: 100%;
   transition: all 0.3s ease;
}
.newevent-location-infos.filled{
   display: inline-block;
   height: 100%;
   opacity: 1;
   width:100%;
   ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
         display: flex;
         align-items: flex-start;

         i{font-size: 1.618em;width: 35px;display: inline-block;text-align: center;margin-right: 15px;}
         p{display:inline-block;width:70%;font-size: 1em;padding-top: 8px;}
         span{font-size: 1em;padding-top: 8px;}
         strong{
            font-size: 1.2em;
            }
      }
      li.newevent-name{margin: 15px 0 25px 0px;}
      li.newevent-address{}
      li.newevent-phone{}
      li.newevent-opening{p{font-size: 0.9em;}}
   }
}
