.project-card-container{
   .card{
      border:1px solid $gray-lighter;
      border-radius: 5px;
      box-shadow: 0 10px 6px -6px #CCC;
      animation:scale .5s ease-out alternate;
   }
   margin-bottom: 15*1.618 +px;
}
.project-card-preview{
   width:100%;
   background: $gray-lighter;
   .thumb-wrapper{
      overflow: hidden;
      position: relative;
      &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: (10 / 16) * 100%;

      }
            img{
               position: absolute;
               top:0;left:0;
               width: 100%;
            }
      }

}
.project-card-detail{
margin:0px;
padding:7px 0px;
}
.project-card-action{
   padding:7px 0px;
   text-align: right;
}

.project-bottom{
   display: inline-block;
   width: 100%;
   padding:5px;
   background: #FFF;
   z-index: 900;
}
