.event-status{
   margin-top:10px;
   .progress{
      margin-top:-5px;
      margin-bottom:10px;
   }
   .legend{
      width:100%;
      display:inline-block;
      span{
         color: $gray-light;
         padding:0 7px;

         margin:0;
      }
      .min-users{
         float:left;
         border-left:2px solid $gray-light;
      }
      .max-users{
         float:right;
         border-right:2px solid $gray-light;
      }
   }
.progress-bar.pending{
   background: $brand-danger;
   }
.progress-bar.complete, .progress-bar.valid{
   background: $brand-primary;
   }
}
