.visual-editor{
   overflow: hidden;
   position:relative;
   background: #FAFAFA;
   padding:0;
   .holder{
      height:100%;
      width: 100%;
      overflow: hidden;
      .keyframes{
         display: inline-flex;
         flex-direction: row;
         align-items: center;
         height:100%;
         min-width: 100%;
         padding-left: 15px;
         transition: none;

      }
      .keyframes.fullscreen{

         height:100%;
         transition: all .4s ease-out;
      }
   }
}
.keyframes.blackmode
{
   transition: background 5s ease;
      background: #666;
.image-editor{
   background: #444;
   border-color:#222;
     box-shadow: 0 10px 6px -6px #333;
}
   .image-editor-header{
      color:#FEFEFE;
      h4{
         color:#666;
      }
   }
   .image-editor-content{
      background: #333;
         border-color:#222;
      .grid{
             .row:before {
                color:#777;
             }
             .row:first-child {
              ul li.pixel:before {
                          color:#777;
              }
           }
      ul{
        border-left: 1px solid #111;
        border-bottom: 1px solid #111;
        &:first-child {
          border-top: 1px solid #111;
        }
        li.pixel {
          border-right: 1px solid #111;
        }
      }
}
}
}
.image-move{
   position:absolute;
   width:84px;
   height:84px;
   border-radius: 100%;
   z-index: 9999;
   color:#FFF;
   outline: none;
   border:none;
   box-shadow: none;
   background: $gray-light;
   opacity: .5;
   &:hover{
      opacity: 1;
   }
   i{
      font-size: 25px;

   }
}
.image-move.image-prev{
   left:-50px;
   transition: all 0.1s ease;
   i{
         transition: inherit;
         margin-left: 40px;
   }

   &:hover{
      left:-40px;
      i{
         margin-left: 20px;
      }

   }

}
.image-move.image-next{
   right:-50px;
      transition: all 0.1s ease;
   i{
               transition: inherit;
         margin-right: 40px;
   }
   &:hover{
         right:-40px;
         i{
            margin-left: 20px;
         }

      }
}
.close-fullscreen{
      position:absolute;
      display: block;
      height: 40px;
      bottom:0;
      left:0;
      width: 100%;
      text-align:center;
      background: $gray-dark;
      color:$brand-accent-g;
}
