<div class="wrap">
{{header-comp session=session sessionAccount=sessionAccount}}
 {{#if session.isAuthenticated}}

<div class="app-content">
{{outlet}}
</div>

{{else}}
<div class="intro-content">
<img src="images/mygif.gif" alt="">
<div class="indication-connexion">
<h2>HELLO !</h2>
<p>
   <span class="key">C</span><br>
   Appuyer sur <b>c</b> pour se connecter
</p>
</div>
</div>
{{/if}}
</div>
