<div class="console-app">
   <div class="console">
      {{login-console
         redirect="redirect"
         connexion=connexion
         register="register"
         registered=registered
         errorMessage=errorMessage
         errorLogin=errorLogin
         model=model}}
   </div>
</div>
