<div class="container-fluid">
   <div class="row myevent-header dark">

      <ul class="nav nav-pills">
        <li class="title">Mes Matchs</li>
        <li role="presentation" class="active"><a href="#">A venir</a></li>
      </ul>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            {{my-events events=events}}

            {{#unless events}}
            <div class="no-result">
               <h3>Vous n'avez pas encore<br>de match à venir</h3>
               {{#link-to 'index' class="btn btn-primary"}}Rechercher un match{{/link-to}}
            </div>
            {{/unless}}

         </div>
      </div>
   </div>
</div>
